<link href="/css/jquery.cleditor.css" rel="stylesheet" />
<script src="/js/jquery.cleditor.min.js"></script>
<title>Edit - Admin</title>
<style type="text/css">
    .input-q { padding: 2px; border: 1px solid #f1ebeb; margin-bottom: 1px; background-color: #ececec; display: block; }
</style>
<div class="row top">
    <div class="col-sm-4">
        <select ng-options="tp.id as tp.name for tp in vm.topicList" ng-model="vm.inputTopic" ng-change="vm.getQuestions()"></select>

        <div ng-repeat="q in vm.questionList">
            <a href="javascript:void(0)" ng-click="vm.editQuestion(q)" class="input-q">{{q.q}}</a>
        </div>
    </div>

    <div class="col-sm-8">
        <form name="vm.formQuestion" novalidate ng-submit="vm.formQuestion.$valid && vm.saveQuestion()">
            <div class="row">
                <div class="col-sm-12">
                    <span class="input-title">Questions</span>
                    <input type="text" class="form-control" ng-model="vm.inputQuestion" ng-required="true" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <span class="input-title">Answer</span>
                    <textarea type="text" class="form-control" id="txtAnswer" ng-model="vm.inputAnswer" ng-required="true" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>